<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>280545181435-bl0o9jplr54dksl1rf7bplqkglof8uql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280545181435-bl0o9jplr54dksl1rf7bplqkglof8uql</string>
	<key>API_KEY</key>
	<string>AIzaSyCJnVoOTfLEr-Wf5x2mkwiJEmP1oiT39Es</string>
	<key>GCM_SENDER_ID</key>
	<string>280545181435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liuhengyu.SalonMerchant</string>
	<key>PROJECT_ID</key>
	<string>salon-f992e</string>
	<key>STORAGE_BUCKET</key>
	<string>salon-f992e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280545181435:ios:856d7da010d1512a</string>
	<key>DATABASE_URL</key>
	<string>https://salon-f992e.firebaseio.com</string>
</dict>
</plist>